<section id='welcome' class='flex-col'>
  <h1>MoneyMate</h1>
  <div id='welcome-buttons'>
    <%= button_to "LOG IN", new_user_session_path, method: :get, id: 'login-button' %>
    <%= button_to "SIGN UP", new_user_registration_path, method: :get, id: 'signup-button' %>
  <div>
</section>