<div id="<%= dom_id payment %>">
  <p>
    <strong>Name:</strong>
    <%= payment.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    $<%= format("%.2f", payment.amount) %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= payment.created_at.strftime('%d-%m-%Y') %>
  </p>

</div>
