@import '_variables';

#home {
  height: 100%;
  background-color: rgb(250, 250, 250);

  #categories {
    margin-top: 1rem;
    padding: 0.5rem;
    overflow-y: auto;
    height: 400px;
    font-family: 'Proxima-Nova-Light', sans-serif;
    color: $text-lighter;
    gap: 1rem;

    .category-link {
      text-decoration: none;

      .category {
        background: white;
        padding: 0.8rem;
        width: 100%;
        gap: 1rem;
        align-items: center;

        .icon {
          font-size: 2rem;
          color: $text-dark;
          width: 40px;
        }

        .category_details {
          .category_name {
            color: $text-light;
            text-decoration: underline;
          }

          .category_amount {
            color: $text-lighter;
          }
        }
      }
    }

    .category-link:hover {
      border: 1px solid $text-lightest;
    }
  }
}
