@import '_variables';

.top-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background: $gradient;
  color: white;
  padding: 2.5rem 0.75rem 0.9rem;
 
  
  .back-arrow{
    margin-top: 0.1rem;
    color: white;
    font-size: 1.5rem;
    justify-self: left;
  }
  
  h3{
    font-family: 'Proxima-Nova_Bold', sans-serif;
    justify-self: center; 
    }

  .form-submit{
    color: white;
    text-decoration: none;
    background: transparent;
    border: none;
    font-family:  'Proxima-Nova_Light', sans-serif;
    font-size: 0.9rem;
    justify-self: right;
    align-self: last center;
  }

  .form-submit:hover{
    cursor: pointer;
  }
}